<nz-layout class="layout">
  <nz-header>
    <div class="logo">ngx-diff2html Demo</div>
    <a class="github-icon float-right" href="https://github.com/AXeL-dev/ngx-diff2html">
      <i nz-icon nzType="github" nzTheme="outline"></i>
    </a>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div nz-row class="mb-15">
        <div nz-col nzSpan="12">
          <label for="left-content" class="label">Left content:</label>
          <textarea id="left-content" nz-input [(ngModel)]="leftContent" [nzAutosize]="{ minRows: 10 }"></textarea>
        </div>
        <div nz-col nzSpan="12" class="pl-20">
          <label for="right-content" class="label">Right content:</label>
          <textarea id="right-content" nz-input [(ngModel)]="rightContent" [nzAutosize]="{ minRows: 10 }"></textarea>
        </div>
      </div>
      <div nz-row class="mb-15">
        <div nz-col nzSpan="12">
          <nz-radio-group [(ngModel)]="diffStyle" nzSize="small">
            <label nz-radio-button nzValue="word"><span>Word Diff</span></label>
            <label nz-radio-button nzValue="char"><span>Char Diff</span></label>
          </nz-radio-group>
        </div>
        <div nz-col nzSpan="12">
          <nz-radio-group [(ngModel)]="outputFormat" nzSize="small" class="float-right">
            <label nz-radio-button nzValue="side-by-side"><span>Side By Side</span></label>
            <label nz-radio-button nzValue="line-by-line"><span>Line By Line</span></label>
          </nz-radio-group>
        </div>
      </div>
      <ngx-diff2html
        [left]="leftContent"
        [right]="rightContent"
        [format]="outputFormat"
        [style]="diffStyle"
        (diffChange)="onDiffChange($event)"
      ></ngx-diff2html>
    </div>
  </nz-content>
  <nz-footer>Made with <span class="heart">♥️</span> by <a href="https://github.com/AXeL-dev" target="_blank">AXeL</a></nz-footer>
</nz-layout>
